# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.retry

roles/JohnMcgrath.UbuntuMiner/files/*
!roles/JohnMcgrath.UbuntuMiner/files/download_note
