{
"pools" : [
{
"poolname" : "neoscrypt",
"url" : "stratum+tcp://hub.miningpoolhub.com:12012",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "neoscrypt"
},
{
"poolname" : "x15",
"url" : "stratum+tcp://hub.miningpoolhub.com:12009",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "bitblock"
},
{
"poolname" : "x13",
"url" : "stratum+tcp://hub.miningpoolhub.com:12008",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "marucoin-mod"
},
{
"poolname" : "x11",
"url" : "stratum+tcp://hub.miningpoolhub.com:12007",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "darkcoin-mod"
},
{
"poolname" : "myriadcoin-groestl",
"url" : "stratum+tcp://hub.miningpoolhub.com:12005",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "myriadcoin-groestl"
},
{
"poolname" : "keccak",
"url" : "stratum+tcp://hub.miningpoolhub.com:12003",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "maxcoin"
},
{
"poolname" : "scrypt",
"url" : "stratum+tcp://hub.miningpoolhub.com:12001",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "zuikkis",
"nfactor" : "10"
},
{
"poolname" : "scryptn",
"url" : "stratum+tcp://hub.miningpoolhub.com:12002",
"user" : '{{ mining_hub_username}}.{{ mining_hub_password }}',
"pass" : "x",
"algorithm" : "zuikkis",
"nfactor" : "11"
}
],
"failover-only" : true,
"failover-switch-delay" : "30",
"queue" : "0"
}